.ui-page {
}

.ui-header {
}

.ui-footer {
	/* height: 0;
    line-height: 0; */
}

.ui-title {
    font-size: 2rem !important;
}
.value-title {
    font-size: 23px !important;
}

.ui-content {
    text-align: center;
    line-height: initial !important;
    font-size: 16px !important;
}

.ui-content-gyro, .ui-content-acc {
	/* position: absolute;
	left: 25%;
	transform:translateX(-50%); */ /* 자신의 절반만큼 -x이동 */
    width: 100%;
    /* height: 50%; */
}

/* #gyro-value-x, #gyro-value-y, #gyro-value-z {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 17vh;
    font-weight: bold;
    z-index: 100;
    margin-top: 15%;
    color: #ffffff;
} */

.btn-left {
    position: absolute;
	left: 5%;
	top: 27.5%;
    line-height: 3rem;
    height: 10rem;
    width: 4.5rem;
    text-align: center;
    color: rgba(250, 250, 250, 1);
    background-color: #000000;
    border: 0.1875rem solid #009af9;
    border-radius: 3.75rem;
}

.btn-right {
	position: absolute;
	right: 5%;
	top: 27.5%;
    line-height: 3rem;
    height: 10rem;
    width: 4.5rem;
    text-align: center;
    color: rgba(250, 250, 250, 1);
    background-color: #000000;
    border: 0.1875rem solid #009af9;
    border-radius: 3.75rem;
}

.btn-txt {
    position: absolute;
	left: 28%;
    top: 50%;
    transform:translateY(-50%); /* 자신의 절반만큼 y 이동 */
    font-size: 2rem;
    font-weight: bold;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}
@media screen and (min-height: 480px) {

    #gyro-value-x, #gyro-value-y, #gyro-value-z {
        /* margin-top: 25%; */
    }
}

@media screen and (-tizen-geometric-shape: circle) {

    .ui-header {
        height: 90px;
    }

    #gyro-value-x, #gyro-value-y, #gyro-value-z {
        /* margin-top: 11%; */
    }
}

